
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Masthead -->
<header class="masthead" >
        <div class="container h-100">
            <div class="row h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-10 align-self-end">
                    <h1 class="text-uppercase text-white font-weight-bold">Talha ERDOĞAN</h1>
                    <hr class="divider my-4">
                </div>
                <div class="col-lg-8 align-self-baseline">
                    <p class="text-white-75 font-weight-light mb-5">İletişim Bilgileri</p>
                    <ul class="text-white-75 font-weight-light mb-5" style="list-style: none; color:white;">
                        <li>Email: talhaerdogan94@hotmail.com</li>
                        <li>Tel: 553 854 88 41</li>
                        <li>Şirket Bilgisi: Btpro Bilişim Sistemleri</li>
                        <li>Adres: GOSB Teknopark Kemal Nehrozoğlu Cad. 2.Üretim Binası 6.Ünite 1.Kısım Kocaeli, 41400 Gebze/Kocaeli</li>
                      
                    </ul>
                   
                </div>
            </div>
        </div>
    </header>
